@media (max-width: 1580px) {
  .wrapper {
    max-width: 1280px;
  }
  nav .left {
    min-width: unset;
  }
  .hero h1 {
    font-size: 140px;
  }
  .hero p {
    font-size: 40px;
  }
  .hero .left {
    max-width: 430px;
  }
  .hero .hero-r {
    max-width: 820px;
    top: unset;
    bottom: 0;
    left: calc(50% - 122px);
  }
  .hero .left-gif-h {
    max-width: 635px;
    left: calc(50% - 420px);
  }
  .videosec {
    padding-top: 150px;
    min-height: unset;
  }
  .sub-t {
    font-size: 100px;
  }
  .videosec .videof {
    height: 660px;
  }
  .joinus,
  .audit,
  .why {
    min-height: unset;
    padding-top: 150px;
  }
  .why h2 {
    max-width: unset;
  }
  .why .boxes .content {
    max-width: 760px;
    margin: 0;
    margin-top: 20px;
  }
  .why .bilder {
    left: calc(50% - 474px);
    max-width: 750px;
  }
  .audit .row .right {
    max-width: 650px;
  }
  .audit {
    padding-bottom: 150px;
  }
  .audit .gif {
    left: calc(50% - 324px);
    max-width: 1250px;
    bottom: 0;
  }
  .tokenomics {
    padding-top: 550px;
    min-height: unset;
    padding-bottom: 70px;
  }
  .tokenomics .tokenomicsgif {
    max-width: 520px;
  }
  .tokenomics .boxes .box {
    font-size: 28px;
  }
  .roadmap {
    min-height: unset;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .roadmap .boxes {
    margin-top: -150px;
  }
  .roadmap .gif {
    left: calc(50% - 464px);
    max-width: 990px;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    max-width: 980px;
  }
  nav .row .middle ul {
    gap: 10px;
  }
  nav .row .middle ul li a {
    font-size: 18px;
  }
  nav .socm,
  nav .right {
    gap: 10px;
  }
  .hero {
    padding-top: 200px;
    min-height: unset;
    padding-bottom: 100px;
  }
  .hero .hero-r {
    max-width: 650px;
    left: calc(50% - 202px);
    bottom: 36px;
  }
  .hero .left-gif-h {
    max-width: 435px;
    left: calc(50% - 360px);
  }
  .videosec .videof {
    height: 490px;
  }
  .sub-t {
    font-size: 80px;
  }
  .roadmap,
  .joinus,
  .audit,
  .why,
  .videosec {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: unset;
  }
  .why .boxes .content {
    max-width: 100%;
  }
  .why {
    padding-bottom: 300px;
  }
  .why .bilder {
    left: 50%;
    max-width: 600px;
  }
  .why .boxes .box {
    width: calc(50% - 5px);
  }
  .why .boxes .content {
    gap: 10px;
    margin-top: 30px;
  }
  .why h2 {
    text-align: center;
  }
  .sub-t {
    text-align: center;
  }
  .audit .row .right {
    max-width: 100%;
    text-align: center;
  }
  .audit .btns {
    justify-content: center;
  }
  .audit {
    padding-bottom: 350px;
  }
  .audit .gif {
    left: 50%;
    max-width: 900px;
  }
  .joinus p,
  .audit .row .right p {
    font-size: 24px;
  }
  .tokenomics .boxes .box {
    font-size: 22px;
    min-height: 70px;
  }
  .tokenomics {
    padding-top: 600px;
  }
  .roadmap .boxes {
    margin-top: 50px;
  }
  .roadmap .boxes .box {
    max-width: calc(100% - 121px);
  }
  .roadmap .boxes:before {
    right: unset;
    left: 44px;
  }
  .roadmap .boxes .box {
    min-height: unset;
    padding-left: 160px;
  }
  .roadmap .boxes .box ul {
    align-items: start;
  }
  .roadmap {
    padding-bottom: 500px;
  }
  .roadmap .gif {
    left: 50%;
    max-width: 900px;
  }
  .joinus .joinusgif {
    margin-top: -120px;
  }
  footer .left {
    min-width: unset;
  }
  footer .row .middle ul {
    gap: 10px;
  }
  footer .row .middle ul li a {
    font-size: 18px;
  }
  footer .socm,
  footer .right {
    gap: 10px;
  }
  .joinus {
    padding-bottom: 0;
  }
}
@media (max-width: 1000px) {
  nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
  }
  nav .row {
    border-radius: 16px;
    border: 1px solid #e74a00;
    background: #ffe2d4;
    padding-left: 15px;
    padding-right: 15px;
  }
  nav .row .right .socm {
    display: none;
  }
  .wrapper {
    max-width: 700px;
  }
  nav .onlymobile {
    display: block;
  }
  nav .middle {
    position: relative;
    left: unset;
    right: unset;
  }
  nav .left {
    position: relative;
    z-index: 99999999;
  }
  nav .middle {
    position: fixed;
    flex-direction: column;
    top: 0px;
    left: 0;
    right: 0;
    gap: 24px;
    padding-bottom: 30px;
    padding-top: 30px;
    max-height: calc(100vh - 91px);
    overflow: auto;
    justify-content: start;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.5s;
    border-radius: 16px;
    border: 1px solid #e74a00;
    background: #ffe2d4;
    max-width: 670px;
    margin: auto;
  }
  nav .middle .mobileview {
    display: flex;
  }
  nav .middle ul {
    flex-direction: column;
  }
  .mobile-right {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 3px;
  }
  nav {
    min-height: 82px;
  }
  nav .right .btn-nav {
    display: none;
  }
  .language-switcher .choosen {
    padding: 5px 12px 5px 3px;
  }
  .language-switcher .choosen .flag-icon {
    width: 26px;
    min-width: 26px;
    height: 26px;
  }
  nav .lines {
    display: flex !important;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #ff8850;
    background: #e74a00;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
  }
  nav .lines .line {
    width: 18px;
    height: 2px;
    background-color: #fff;
    transition: all ease 0.5s;
  }
  .navbar.active {
    position: fixed;
  }
  .navbar.active .lines .line:nth-child(1) {
    transform: rotate(50deg);
  }
  .navbar.active .lines .line:nth-child(2) {
    transform: rotate(-50deg);
    margin-top: -5px;
  }
  .navbar.active .lines .line:nth-child(3) {
    transform: rotate(50deg);
    margin-top: -7px;
    opacity: 0;
  }
  .navbar.active .middle {
    opacity: 1;
    visibility: visible;
    top: 97px;
    z-index: 9999;
  }
  nav .row .middle ul li a {
    font-size: 24px;
    color: #000;
  }
  nav .row .middle ul {
    gap: 30px;
  }
  .hero {
    padding-top: 150px;
  }
  .hero .row {
    flex-direction: column;
  }
  .hero .row .left,
  .hero .row .right {
    width: 100%;
    max-width: 100%;
  }
  .hero h1 {
    font-size: 100px;
    margin-bottom: 15px;
  }
  .hero p {
    font-size: 30px;
    max-width: 400px;
  }
  .hero .hero-r {
    position: relative;
    transform: unset;
    top: unset;
    bottom: unset;
    max-width: 520px;
    margin: auto;
    margin-top: -260px;
  }
  .hero {
    padding-bottom: 300px;
  }
  .hero .connect-wallet {
    margin: auto;
  }
  .hero .left-gif-h {
    left: calc(50% - 130px);
  }
  .sub-t {
    font-size: 60px;
  }
  .videosec .videof {
    height: 350px;
  }
  .videosec .videoplace .place {
    max-width: 120px;
  }
  .why .boxes .content {
    flex-direction: column;
    gap: 5px;
  }
  .why .boxes .content .box {
    width: 100%;
    min-height: unset;
  }
  .why .bilder {
    left: calc(50% - 100px);
    max-width: 600px;
  }
  .tokenomics .t-stars {
    z-index: 2;
  }
  .tokenomics {
    background: #2a0815;
    background: linear-gradient(180deg, rgba(42, 8, 21, 0) 30%, rgb(42, 8, 21) 100%);
    padding-top: 560px;
  }
  .tokenomics:before {
    content: "";
    position: absolute;
    left: 0;
    top: 330px;
    transform: scaleY(-1);
    right: 0;
    min-height: 200px;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
  }
  .tokenomics .imgonlymobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 1200px;
    min-width: 1200px;
    display: block;
  }
  .tokenomics .tokenomicsgif {
    max-width: 360px;
  }
  .tokenomics .boxes {
    margin-top: 30px;
    flex-direction: column;
  }
  .tokenomics .boxes .box {
    width: 100%;
  }
  .roadmap:after {
    background: #2a0815;
    background: linear-gradient(180deg, rgb(42, 8, 21) 0%, rgba(42, 8, 21, 0) 100%);
  }
  .roadmap .boxes .box {
    padding-left: 80px;
  }
  .joinus {
    padding-top: 100px;
  }
  .joinus .joinusgif {
    margin-top: -50px;
  }
  footer {
    padding-bottom: 30px;
  }
  footer .row {
    flex-direction: column;
    gap: 30px;
  }
  footer .right {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 20px;
  }
  footer .right .btn-nav {
    width: 100%;
    max-width: 100%;
  }
  footer .socm {
    order: 2;
  }
  footer .socm img {
    max-width: 40px;
  }
}
@media (max-width: 700px) {
  .navbar .middle {
    width: calc(100% - 30px);
    max-width: 470px;
  }
  .wrapper {
    max-width: 500px;
  }
  .hero .hero-r {
    max-width: 400px;
    margin-top: -20px;
  }
  .hero h1 {
    text-align: center;
  }
  .hero p {
    text-align: center;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .connect-wallet {
    padding: 20px 10px;
    min-height: unset;
  }
  .hero .connect-wallet .time .box {
    width: calc(25% - 2px);
  }
  .hero .left-gif-h {
    left: calc(50% - 10px);
  }
  .sub-t {
    font-size: 32px;
  }
  .videosec:after {
    min-height: 100px;
  }
  .videosec .videof {
    height: 210px;
  }
  .videosec {
    padding-bottom: 30px;
  }
  .why {
    padding-top: 30px;
    padding-bottom: 270px;
  }
  .why:after {
    min-height: 200px;
  }
  .why .boxes .box {
    padding: 24px 20px;
  }
  h3 {
    font-size: 20px;
  }
  .why .boxes .box p {
    font-size: 18px;
    margin-top: 7px;
  }
  .why .bilder {
    left: calc(50% - 70px);
    max-width: 500px;
  }
  .joinus p,
  .audit .row .right p {
    font-size: 20px;
  }
  .audit .btns {
    flex-direction: column;
  }
  .audit .btns a {
    width: 100%;
  }
  .tokenomics:after {
    min-height: 150px;
  }
  .tokenomics p {
    margin-top: 10px;
    font-size: 20px;
  }
  .tokenomics {
    padding-bottom: 0;
  }
  .roadmap .boxes .box .red-dot .in div {
    font-size: 18px;
  }
  .roadmap .boxes .box .red-dot .in:before {
    width: 54px;
    height: 54px;
    background-size: 100%;
  }
  .roadmap .boxes .box .red-dot .in {
    width: 54px;
    height: 54px;
  }
  .roadmap .boxes .box .red-dot {
    width: 58px;
    height: 58px;
    left: -70px;
  }
  .roadmap .boxes .box {
    max-width: calc(100% - 70px);
    background: url(../img/tbg-phone.webp) no-repeat;
    background-size: 100% 100%; /* This stretches it fully */
    background-position: center;
    padding: 20px 20px 20px 60px;
  }
  .roadmap .boxes:before {
    width: 6px;
    left: 28px;
  }
  .roadmap .boxes .box h3 {
    font-size: 16px;
  }
  .roadmap .boxes .box ul li {
    font-size: 14px;
  }
  .roadmap .boxes .box ul li {
    padding-left: 10px;
  }
  .roadmap .boxes .box ul li::before {
    left: 0;
    top: 9px;
    width: 4px;
    height: 4px;
  }
  .roadmap .gif {
    left: calc(50% - 40px);
    max-width: 600px;
    z-index: 2;
  }
  .roadmap {
    padding-bottom: 350px;
  }
  .hero .connect-wallet .row-inputs {
    flex-direction: column;
    width: 100%;
  }
  .hero .connect-wallet .row-inputs .input {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
  }
}
@media (max-width: 430px) {
  .hero .connect-wallet .time .box {
    width: calc(25% - 3px);
  }
}
@media (max-width: 389px) {
  .hero .connect-wallet .input .p-place {
    font-size: 12px;
  }
  .hero .connect-wallet .lastp .l a {
    font-size: 12px;
  }
  .hero .connect-wallet .lastp .r a {
    font-size: 11px;
  }
  .hero .connect-wallet .btns-cw .active {
    min-width: calc(50% - 2px);
  }
  .videosec .videof {
    height: 170px;
  }
  footer .row .middle ul {
    flex-direction: column;
    gap: 20px;
  }
  .joinus .btns {
    flex-wrap: wrap;
  }
  .joinus .btns a {
    order: 2;
  }
  .joinus .btns .btn-t1 {
    width: 100%;
    order: 1;
  }
  .joinus .joinusgif {
    margin-top: -50px;
    min-width: 450px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  footer {
    padding-top: 50px;
  }
  .roadmap .boxes .box {
    padding: 20px 10px 20px 40px;
  }
  nav .right {
    gap: 5px;
  }
  nav .row {
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
  }
  .hero .connect-wallet .lastp .l a,
  .hero .connect-wallet .lastp .r a {
    font-size: 11px;
  }
  .hero .connect-wallet .s-boxes .box h3 {
    font-size: 14px;
  }
}/*# sourceMappingURL=responsive.css.map */