@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@font-face {
	font-family: "Pure Joy";
	src: url("../fonts/PureJoy.ttf");
	font-weight: 400;
}
body {
	padding: 0;
	margin: 0;
	top: 0 !important;
	background-color: black;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
input:focus {
	outline: none;
}
.wrapper {
	max-width: 1550px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
img {
	max-width: 100%;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flex-between-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin ul-def {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* Hide the Google Translate top bar */
.goog-te-banner-frame {
	display: none !important;
}

/* Hide the Google Translate pop-up */
body > .skiptranslate {
	display: none !important;
}

/* Hide the Google Translate logo */
.goog-logo-link {
	display: none !important;
}

/* Hide the Google Translate dropdown default styles */
.goog-te-gadget {
	font-size: 0px;
}

/* Ensure page doesn’t shift due to hidden elements */
.goog-te-gadget span {
	display: none !important;
}

/* Optional: If you are using the inline Google Translate dropdown */
#google_translate_element {
	position: absolute;
	opacity: 0;
}

// def code end
.starsblink {
	animation: starsblink forwards 1.5s infinite;
	animation-timing-function: linear;
}
@keyframes starsblink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

.sub-t {
	color: #fff;
	text-shadow: 4px 11px 0px #000;
	font-family: "Pure Joy";
	font-size: 127px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.reg-p {
	color: var(--Black, #000d27);
	font-family: Overlock;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 30px */
}
h3 {
	color: var(--Black, #000d27);
	font-family: "Pure Joy";
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 33.6px */
}

.btn-nav {
	border-radius: 10px;
	border: 2px solid #ff8850;
	background: var(--Primary, #e74a00);
	min-height: 55px;
	@include flex-center();
	min-width: 137px;
	color: #fff;
	font-family: "Pure Joy";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: all ease 0.5s;
	&:hover {
		background-color: #943407;
	}
}

.btn-t1 {
	border-radius: 10px;
	border: 2px solid #ff8850;
	background: #e74a00;
	min-height: 63px;
	padding: 10px 23px;
	color: #fff;
	font-family: "Pure Joy";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	@include flex-center();
	display: inline-flex;
	gap: 8px;
	transition: all ease 0.5s;
	&:hover {
		background-color: #943407;
	}
}
.btn-t2 {
	@include flex-center();
	display: inline-flex;
	gap: 8px;
	border-radius: 10px;
	border: 2px solid #e74a00;
	background: #fff;
	padding: 0 22.241px;
	min-height: 63px;
	transition: all ease 0.5s;
	&:hover {
		opacity: 0.7;
	}
}

nav {
	padding-top: 15px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 999999999;
	padding-top: 52px;
	padding-bottom: 52px;
	.socm {
		@include flex-center();
		gap: 16px;
	}
	.lines {
		display: none;
	}
	.onlymobile {
		display: none;
		.socm {
			margin-top: 0;
		}
	}
	.row {
		@include flex-between-center();
		border-radius: 77px;

		min-height: 68px;
		.middle {
			ul {
				@include ul-def();
				@include flex-center();
				gap: 40px;
				li {
					a {
						color: #fff;
						font-family: "Pure Joy";
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						transition: all ease 0.5s;
						&:hover {
							color: #e74a00;
							text-shadow: 4px 4px 0px #000;
						}
					}
					.active {
						color: #e74a00;
						text-shadow: 4px 4px 0px #000;
					}
				}
			}
		}
	}
	.right {
		@include flex-center();
		gap: 20px;
	}
	.left {
		min-width: 400px;
	}
}
.language-switcher {
	position: relative;

	.show {
		display: flex;
	}
	.choosen {
		display: inline-flex;

		color: #403c4e;
		font-family: "Pure Joy";
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 19.6px */

		transition: all ease 0.5s;
		gap: 5px;
		background-color: transparent;
		align-items: center;
		justify-content: center;
		display: flex !important;

		border-radius: 30px;
		border: 1px solid #e8e7e9;
		background: #f8f8f8;
		padding: 5px 12px 5px 3px; // span {
		// 	padding-bottom: 1px;
		// }
		img {
			max-width: 20px;
		}
		.flag-icon {
			border-radius: 36px;
			border: 1px solid #e0e0e0;
			background: url(<path-to-image>) lightgray 50% / cover no-repeat;
			width: 36px;
			min-width: 36px;
			height: 36px;
		}
		span {
			margin-bottom: -3px;
		}
		svg path {
			fill: #060c0e;
			transition: all ease 0.5s;
		}
		&:hover {
			// background-color: #f6e00e;
			// color: #000;
			svg path {
				fill: #000;
			}
		}
	}
}
.language-switcher {
	position: relative;
	display: inline-block;
}

.language-switcher .choosen {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.language-dropdown {
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	background-color: #fff;
	border: 1px solid #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	// border-radius: 10px;
	padding: 5px 0;
	display: none;
	width: 120px;
	list-style: none;
	z-index: 100;
	max-height: 300px;
	overflow: auto;
	flex-direction: column;
	align-items: start;

	-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
}

.language-dropdown li {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px;
	color: #060c0e;
	cursor: pointer;
	transition: background 0.3s;
	width: 100%;

	color: #726d75;
	font-family: Overlock;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.2px;
	text-transform: capitalize;

	img {
		max-width: 20px;
	}
}

.language-dropdown li:hover {
	background-color: #ebf9ff;
	color: black;
}
.hero {
	min-height: 1155px;
	background: url("../img/herp.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 267px;
	position: relative;
	overflow: hidden;
	.herostars {
		position: absolute;
		left: calc(50% - 110px);
		top: 170px;
		margin: auto;
		transform: translateX(-50%);
	}
	.hero-r {
		position: absolute;
		left: calc(50% - 72px);
		right: 0;
		top: 0;
		transform: translateX(-50%);
		max-width: 1139px;
	}
	.left,
	.right {
		position: relative;
		z-index: 2;
	}
	.left-gif-h {
		position: absolute;
		max-width: 855px;
		left: calc(50% - 490px);
		bottom: 0;
		transform: translateX(-50%);
	}
	.left {
		max-width: 600px;
	}
	.row {
		@include flex-between-center();
		align-items: start;
	}
	h1 {
		color: #fff;
		text-shadow: 4px 11px 0px #000;
		font-family: "Pure Joy";
		font-size: 189.603px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	p {
		color: #fff;
		font-family: "Pure Joy";
		font-size: 50.12px;
		font-style: normal;
		font-weight: 400;
		line-height: 106%;
	}
	.right {
		max-width: 484px;
		width: 100%;
	}
}

.logos-wrapper {
	overflow: hidden;
	width: 100%;
	min-width: 100%;
	position: relative;
	border-top: 4.224px solid #000;
	border-bottom: 4.224px solid #000;
	background: #ffe2d4;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	height: 104px;
	@include flex-center();

	.logos-slide {
		width: 100%;
		// flex-direction:;
	}
	.boxes {
		@include flex-between-center();
		margin: auto;
		gap: 40px;
		.box {
			// min-height: 59px;
			// @include flex-center();
			// min-width: calc(16.66% - 15px);
		}
	}
	overflow: hidden;
	.boxes {
		width: 15000px;
		animation: slideBoxs 80s linear infinite;
		gap: 50px;
		margin: 0;
	}

	@keyframes slideBoxs {
		0% {
			transform: translateX(0%);
		}
		95% {
			transform: translateX(calc(-7000px - 200vw)); /* Smooth infinite scroll */
		}
		100% {
			transform: translateX(calc(-7500px - 200vw)); /* Smooth infinite scroll */
		}
	}
}

.hero .connect-wallet {
	border-radius: 24px;
	border: 6px solid #e74a00;
	background: #ffe2d4;
	box-shadow: 7px 8px 0px 0px #e74a00;
	width: 100%;
	padding: 34px 32px;
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	margin-left: 0px;
	min-height: 788px;

	.loading-paragraph {
		color: var(--Black, #000d27);
		text-align: center;
		font-family: Overlock;
		font-size: 14px;
		font-style: normal;
		font-weight: 900;
		line-height: 130%; /* 18.2px */
		margin-top: 23px;
	}
	.loading-line {
		border-radius: 35px;
		border: 1px solid #ddd3de;
		background: #fffffb;
		min-height: 18px;
		padding: 3px;
		margin-top: 15px;
		position: relative;
		margin-bottom: 25px;

		.effect {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			display: flex;
			gap: 20px;
			overflow: hidden;
			border-radius: 35px;
		}
		.loading-effect {
			position: absolute;
			// left: -195px;
			top: 0;
			bottom: 0;
			right: 0;
			display: flex;
			gap: 20px;
			overflow: hidden;
			border-radius: 35px;
		}

		.line-group {
			display: flex;
			gap: 20px;
			animation: slideRight 40s linear infinite;
		}

		.line-in {
			background: #ffac86;
			width: 3.188px;
			height: 17.468px;
			transform: rotate(22.685deg);
			flex-shrink: 0;
			margin-top: -4px;
		}

		@keyframes slideRight {
			0% {
				transform: translateX(0);
			}
			100% {
				transform: translateX(50%);
			}
		}

		.inside {
			position: absolute;
			left: 3px;
			bottom: 3px;
			top: 3px;
			background: #ffa175;
			background: linear-gradient(184deg, rgba(255, 161, 117, 1) 0%, rgba(255, 112, 44, 1) 79%);
			border-radius: 42px;
			.dot {
				position: absolute;
				right: -4px;
				top: -12px;
				width: 35px;
				height: 35px;
				background: url("../img/loading-dot.webp");
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	.btns-cw {
		@include flex-between-center();
		align-items: start;
		a {
			border-radius: 10px;
			border: 1px solid var(--Stroke, #ddd3de);
			background: #fff;
			color: var(--Black, #000d27);
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			min-width: calc(50% - 10px);
			@include flex-center();
			padding: 16px 10px;
			transition: all ease 0.5s;
			gap: 8px;
			&:hover {
				opacity: 0.7;
			}
		}
		.active {
			border-radius: 10px;
			border: 1px solid var(--Black, #160303);
			background: #e74a00;
			box-shadow: 3px 3px 0px 0px #160303;
			color: #fff;
			padding: 14px 10px;
		}
	}
	h3 {
		color: var(--Black, #000d27);
		text-align: center;
		leading-trim: both;
		text-edge: cap;
		font-family: "Pure Joy";
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-top: 24px;
	}
	.time {
		@include flex-between-center();
		margin-top: 24px;
		.box {
			border-radius: 12px;
			border: 1.5px solid var(--Black, #000d27);
			background: #fff;
			box-shadow: 3px 3px 0px 0px #080513;
			width: 85px;
			height: 69px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 5px;
			h4 {
				color: #ffe2d4;
				text-align: center;
				leading-trim: both;
				text-edge: cap;
				text-shadow: 2px 2px 0px #080513;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: var(--Black, #000d27);
				font-family: "Pure Joy";
				font-size: 32px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
			p {
				color: var(--Black, #000d27);
				text-align: center;
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				margin: 0;
			}
		}
	}

	.lastp {
		@include flex-between-center();
		margin-top: 24px;
		.l {
			a {
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-skip-ink: auto;
				text-decoration-thickness: auto;
				text-underline-offset: auto;
				text-underline-position: from-font;
			}
		}
		.r {
			a {
				@include flex-center();
				gap: 3px;
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
			}
		}
	}

	button {
		color: #fff;
		leading-trim: both;
		text-edge: cap;
		font-family: "Pure Joy";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		border-radius: 7px;
		border: 1px solid var(--Black, #000d27);
		background: var(--Primary, #e74a00);
		box-shadow: 2px 2px 0px 0px #080513;
		margin-top: 20px;
		padding: 13px;
		transition: all ease 0.5s;
		&:hover {
			background-color: #943407;
		}
	}

	.ch-line {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 21px;
		position: relative;
		.line {
			content: "";
			position: absolute;
			height: 1px;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			background-color: #000d27;
		}
		.box {
			border: 1px solid #000d27;
			width: 36px;
			height: 36px;
			border-radius: 100%;
			@include flex-center();
			background-color: #fff;
			position: relative;
			z-index: 2;
		}
	}

	.tabs {
		display: none;
	}
	.tabs.active {
		display: block;
	}
	.coins-swipe-tab {
		.input {
			display: none;
		}
		.active-input {
			display: block;
		}
	}
	.input {
		margin-top: 21px;
		.p-place {
			color: var(--Black, #000d27);
			font-family: Overlock;
			font-size: 14px;
			font-style: normal;
			font-weight: 900;
			line-height: 130%; /* 18.2px */
			@include flex-between-center();
			.l,
			.r {
				@include flex-center();
				gap: 8px;
			}
		}

		.in-pl {
			margin-top: 8px;
			border: 1px solid var(--Black, #000d27);
			background: #fff;
			box-shadow: 2px 2px 0px 0px #080513;
			border-radius: 8px;
			position: relative;
			input {
				border-radius: 8px;
				border: 0;
				width: 100%;
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				text-align: right;
				padding: 11px 15px;
				position: relative;
				z-index: 2;
				background-color: transparent;
			}
			*::placeholder {
				color: #000;
			}

			.coin-place {
				position: absolute;
				left: 3px;
				top: 3px;
				bottom: 3px;
				@include flex-center();
				border-radius: 8px;
				border: 1px solid var(--Black, #000d27);
				background: #ffe2d4;
				box-shadow: 1px 1px 0px 0px #080513;
				gap: 8px;
				color: var(--Black, #000d27);
				leading-trim: both;
				text-edge: cap;
				font-family: "Pure Joy";
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				min-width: 110px;
				justify-content: start;
				padding-left: 3px;
			}
		}
	}
	.s-rewards {
		@include flex-center();
		flex-direction: column;
		border-radius: 16px;
		border: 1.5px solid var(--Stroke, #ddd3de);
		background: #fff;
		margin-top: 20px;
		padding: 24px;
		h3 {
			margin: 0;
			color: var(--Black, #000d27);
			text-align: center;
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		p {
			color: #403c4e;
			text-align: center;
			font-family: Overlock;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%; /* 22.4px */
			margin-top: 8px;
		}
		img {
			display: block;
			margin-top: 12px;
			margin-bottom: 12px;
		}
		h2 {
			color: var(--Black, #000d27);
			text-align: center;
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 28px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin: 0;
		}
		.claim {
			border-radius: 10px;
			border: 1px solid var(--Black, #000d27);
			background: var(--Primary, #e74a00);
			box-shadow: 2px 2px 0px 0px #000d27;
			width: 100%;
			color: #fff;
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			padding: 14px;
			@include flex-center();
			margin-top: 24px;
			transition: all ease 0.5s;
			&:hover {
				background-color: #943407;
			}
		}
	}
	.smtit {
		color: var(--Black, #000d27);
		text-align: center;
		leading-trim: both;
		text-edge: cap;
		font-family: "Pure Joy";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin: 0;
		margin-top: 24px;
	}
	button {
		width: 100%;
	}
	.row-inputs {
		@include flex-between-center();
		.input {
			max-width: calc(50% - 8px);
			width: 100%;
			margin-top: 0;
			.in-pl {
				border-radius: 8px;
				border: 1.5px solid var(--Stroke, #ddd3de);
				background: #fff;
				box-shadow: unset;
			}
			.text-t {
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.s-boxes {
		@include flex-between-center();
		margin-top: 30px;
		.box {
			border-radius: 12px;
			border: 1.5px solid var(--Black, #000d27);
			background: #fff;
			box-shadow: 3px 3px 0px 0px #080513;
			@include flex-center();
			flex-direction: column;
			gap: 10px;
			min-height: 87px;
			width: calc(33.33% - 6px);
			h4 {
				color: var(--Black, #000d27);
				text-align: center;
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				margin: 0;
			}
			h3 {
				color: var(--Black, #000d27);
				text-align: center;
				leading-trim: both;
				text-edge: cap;
				font-family: "Pure Joy";
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				margin: 0;
			}
		}
	}
}

.videosec {
	min-height: 1155px;
	background: url("../img/videobg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding-top: 274px;
	padding-bottom: 50px;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		min-height: 500px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 0) 100%);
	}
	.wrapper {
		position: relative;
		z-index: 2;
		text-align: center;
	}

	.video {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.videof {
		left: 0;
		right: 0;
		top: 0;
		right: 0;
		width: 100%;
		border-radius: 40px;
		// z-index: 20;
		position: relative;
		height: 801px;
		display: block;
		background-color: #000;
		transition: all ease 0.5s;
		opacity: 0;
	}
	.videoplace {
		border-radius: 40px;
		border: 7px solid #fff;
		background: url(<path-to-image>) lightgray 0px 2.822px / 100% 109.112% no-repeat;
		box-shadow: 0px -34px 29.5px 0px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		margin-top: 49px;
		position: relative;
		width: 100%;
		.place {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: 50%;
			transform: translateY(-50%);
			z-index: 15;
		}
		img {
			border-radius: 20px;
			display: block;
		}
		.bg-v {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
			max-height: 100%;
			height: 100%;
			z-index: 10;
			width: 100%;
			border-radius: 40px;
		}
	}
	.active.videoplace {
		.videof {
			z-index: 20;
			opacity: 1;
		}
	}
	.btn-place {
		position: absolute;
		bottom: -35px;
		left: 0;
		right: 0;
		@include flex-center();
		a {
			min-width: 332px;
			min-height: 68px;
		}
	}
}

.why {
	background: url("../img/why-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 1200px;
	padding-top: 330px;
	.herostars {
		position: absolute;
		left: calc(50% - 110px);
		top: 170px;
		margin: auto;
		transform: translateX(-50%);
	}
	.bilder {
		position: absolute;
		left: calc(50% - 604px);
		transform: translateX(-50%);
		bottom: 0px;
		max-width: 1000px;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		min-height: 500px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 0) 100%);
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleY(-1);
		right: 0;
		min-height: 300px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 0) 100%);
	}
	h2 {
		max-width: 813px;
	}
	.wrapper {
		position: relative;
		z-index: 2;
	}
	.boxes {
		@include flex-center();
		justify-content: end;
		.content {
			@include flex-between-center();
			flex-wrap: wrap;
			max-width: 900px;
			margin-right: -18px;
			margin-top: -60px;
			gap: 23px 0;
		}
		.box {
			border-radius: 32px;
			border: 4px solid var(--Black, #000d27);
			background: #fff;
			width: calc(50% - 10px);
			padding: 29px 26px;
			min-height: 262px;
			p {
				margin-top: 11px;
			}
		}
	}
}

.audit {
	background: url("../img/audit.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 1300px;
	padding-top: 294px;
	.gif {
		position: absolute;
		left: calc(50% - 434px);
		transform: translateX(-50%);
		bottom: -20px;
		max-width: 1700px;
		z-index: 0;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		min-height: 500px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 0) 100%);
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleY(-1);
		right: 0;
		min-height: 150px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.89) 26%, rgba(0, 0, 0, 0) 100%);
		z-index: 1;
	}
	.wrapper {
		position: relative;
		z-index: 2;
	}
	.row {
		@include flex-between-center();
		justify-content: end;
		.right {
			max-width: 768px;
			margin-top: 39px;
			p {
				color: #fff;
				font-family: Overlock;
				font-size: 28px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}
	.btns {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: 20px;
	}
}

.tokenomics {
	background: url("../img/tokenomics.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 1241px;
	padding-top: 824px;
	text-align: center;
	.imgonlymobile {
		display: none;
	}
	.tokenomicsgif {
		position: absolute;
		left: calc(50% - 0px);
		transform: translateX(-50%) scaleX(-1);
		top: 114px;
		max-width: 840px;
	}
	.t-stars {
		position: absolute;
		left: calc(50% - 0px);
		top: 160px;
		margin: auto;
		transform: translateX(-50%);
	}
	.wrapper {
		position: relative;
		z-index: 2;
	}
	p {
		color: #fff;
		text-align: center;
		font-family: "Pure Joy";
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 32px */
		text-transform: uppercase;
		margin-top: 20px;
	}
	.boxes {
		@include flex-between-center();
		gap: 3px;
		margin-top: 58px;
		.box {
			color: #000;
			text-align: center;
			font-family: "Pure Joy";
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%; /* 32px */
			text-transform: uppercase;
			border-radius: 24px;
			border: 3.517px solid #000;
			background: #fff;
			@include flex-center();
			width: calc(25% - 7px);
			min-height: 96px;
		}
	}
	.gif {
		position: absolute;
		left: calc(50% - 434px);
		transform: translateX(-50%);
		bottom: -20px;
		max-width: 1700px;
		z-index: 0;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		min-height: 300px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 0) 100%);
	}
}

.roadmap {
	background: url("../img/roadmap.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 1300px;
	padding-top: 431px;
	padding-bottom: 120px;
	.wrapper {
		position: relative;
		z-index: 2;
	}
	.gif {
		position: absolute;
		left: calc(50% - 584px);
		transform: translateX(-50%);
		bottom: -20px;
		max-width: 1190px;
		z-index: 0;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		min-height: 400px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 0) 100%);
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleY(-1);
		right: 0;
		min-height: 300px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
		z-index: 1;
	}

	.boxes {
		@include flex-center();
		align-items: end;
		flex-direction: column;
		margin-top: -222px;
		margin-right: -6px;
		gap: 30px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			right: 659px;
			top: 0;
			bottom: 0;
			width: 13px;
			background-color: #e74a00;
			border-radius: 10px;
		}
		.box {
			max-width: 596px;
			width: 100%; /* Ensure it can scale fully */
			height: 100%; /* Add height or min-height to make it visible */
			background: url(../img/tbg.webp) no-repeat;
			background-size: 100% 100%; /* This stretches it fully */
			background-position: center;
			min-height: 381px;
			padding: 40px 20px 40px 103px;
			position: relative;
			.red-dot {
				position: absolute;
				width: 101px;
				height: 101px;
				background-color: #e74a00;
				border-radius: 100%;
				@include flex-center();
				left: -120px;
				top: 50%;
				transform: translateY(-50%);
				.in {
					@include flex-center();
					width: 85px;
					height: 85px;
					border-radius: 100%;
					background-color: #ffe2d4;
					position: relative;
					&:before {
						content: "";
						width: 95px;
						height: 95px;
						left: 50%;
						top: 50%;
						position: absolute;
						transform: translate(-50%, -50%);
						background: url(../img/nobg.webp);
						background-position: center;
						background-repeat: no-repeat;
						animation: rotate 8s linear infinite;
					}
					@keyframes rotate {
						0% {
							transform: translate(-50%, -50%) rotate(0deg);
						}
						100% {
							transform: translate(-50%, -50%) rotate(360deg);
						}
					}
					div {
						position: relative;
						color: #fff;
						text-align: center;
						font-family: "Pure Joy";
						font-size: 32px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}
			h3 {
				color: var(--Black, #000d27);
				font-family: "Pure Joy";
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 28.8px */
			}
			ul {
				@include ul-def();
				@include flex-center();
				flex-direction: column;
				margin-top: 10px;
				gap: 11px;
				li {
					color: var(--Black, #000d27);
					font-family: Overlock;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%;
					padding-left: 30px;
					position: relative;
					&::before {
						content: "";
						position: absolute;
						left: 11px;
						top: 15px;
						width: 6px;
						height: 6px;
						border-radius: 100%;
						background-color: #000;
					}
					b {
						font-weight: 900;
					}
				}
			}
		}
	}
}

.joinus {
	background: url("../img/audit.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 1300px;
	padding-top: 270px;
	text-align: center;

	h2 {
		position: relative;
		z-index: 2;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		min-height: 500px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 0) 100%);
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleY(-1);
		right: 0;
		min-height: 150px;
		background: #000000;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.89) 26%, rgba(0, 0, 0, 0) 100%);
		z-index: 1;
	}
	.wrapper {
		position: relative;
		z-index: 2;
	}
	p {
		color: #fff;
		text-align: center;
		font-family: Overlock;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 36.4px */
		margin: auto;
		max-width: 690px;
		margin-top: 21px;
		position: relative;
		z-index: 2;
	}
	.btns {
		@include flex-center();
		gap: 15px;
		margin-top: 25px;
		position: relative;
		z-index: 2;
	}
	.joinusgif {
		margin-top: -190px;
	}
}

.socm-btn {
	transition: all ease 0.5s;
	&:hover {
		opacity: 0.7;
	}
}

footer {
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: #000;
	.row {
		@include flex-between-center();
		border-radius: 77px;

		min-height: 68px;
		.middle {
			ul {
				@include ul-def();
				@include flex-center();
				gap: 40px;
				li {
					a {
						color: #fff;
						font-family: "Pure Joy";
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						transition: all ease 0.5s;
					}
					.active {
						color: #af9e72;
					}
				}
			}
		}
	}
	.right {
		@include flex-center();
		gap: 20px;
	}
	.left {
		min-width: 400px;
	}
	.socm {
		@include flex-center();
		gap: 16px;
	}
}

.navbar.fixed {
	position: fixed;
	margin-top: -200px;
	opacity: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	.left {
		min-width: unset;
	}
	.right {
		gap: 10px;
	}
	.socm {
		gap: 5px;
		img {
			max-width: 40px;
		}
	}
	.row {
		border-radius: 16px;
		border: 1px solid #e74a00;
		background: #ffe2d4;
		padding: 0 10px;
		.middle ul li a {
			color: #000;
			&:hover {
				color: #e74a00;
			}
		}
		.middle ul li .active {
			color: #e74a00;
		}
	}
}

.navbar.fixed.add2 {
	transition: all ease 0.5s;
}

.navbar.fixed.show {
	margin-top: 0;
	opacity: 1;
}
